.form-container {
  text-align: center;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-field {
  display: block;
}
.edit-action {
  height: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
}
