.table-container {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.element-row:active {
  background: #efefef;
}
tr.element-row:hover {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}
.table-actions {
  margin: auto;
  margin-top: 20px;
}
