.header {
  height: 50px;
  width: 100%;
}
.logo {
  max-width: 100%;
  max-height: 50%;
}
.menu-right {
  direction: rtl;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  right: 0;
  height: auto;
  flex: auto;
  margin-right: 24px;
}
